*{
	margin: 0px;
	padding: 0px;
	font-family: 'Maiden Orange', cursive;
}

.tm-container{
	max-width: 800px ;
	margin: 0 auto;

}

.tm-header{
	background-color: rgba(125, 132, 142,0.5);
}

.tm-header::after{
	content: "";
	clear: both;
	display: block;
	visibility: none;
}
.tm-logo{
	float: left;

}

.tm-nav{
	float: right;

}

.tm-nav ul li{
	display: inline-block;
}

.tm-nav ul li a{
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	line-height: 58.712px;

}

.tm-nav ul li a:hover{
	color: blue;
}



body{
	background-image: url('../images/studytable.JPEG');
	background-color: black;
	background-size: cover;
	background-attachment: fixed;

}

.tm-intro{
	font-family: 'Pacifico', cursive;
	font-size: xx-large;
	color: white;
	padding: 20px;
	width: 600px;
	margin-top: 300px;
	margin-left: 600px;
}