*{
	margin: 0px;
	padding: 0px;
	font-family: 'Maiden Orange', cursive;
}

.tm-container{
	max-width: 800px ;
	margin: 0 auto;

}

.tm-header{
	background-color: rgba(125, 132, 142,0.3);
}

.tm-header::after{
	content: "";
	clear: both;
	display: block;
	visibility: none;
}
.tm-logo{
	float: left;

}

.tm-nav{
	float: right;

}

.tm-nav ul li{
	display: inline-block;
}

.tm-nav ul li a{
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	line-height: 58.712px;

}

.tm-nav ul li a:hover{
	color: blue;
}



body{
	background-image: url('../images/contact.JPG');
	background-color: black;
	background-size: cover;
	background-attachment: fixed;

}
/* code for contact pic */

.contact{
	width: 400px;
	margin-left: 20px;
	
	border-radius: 20px;

	margin-top: 20px;
	background-color: rgba(143, 218, 255,0.5);
	height: 250px;
	
}

.fbimg{
	padding-top: 20px;
}
.tm-fb{
	padding: 20px;
	color: black;
	height: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: xx-large;
}

.insta{
	padding-left: 20px;
	padding-top: 10px;
}
.tm-im{
	padding: 10px;
	padding-left: 37px;
	color: black;
	height: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: xx-large;
}

.tm-gm{
	padding-left: 10px;
	color: black;
	height: 54.775px;
	font-family: 'Raleway', sans-serif;
	font-size: large;
}

.gm_img{
	padding-top: 10px;
	padding-left: 10px;
}